/*     Start - Home {1}     */
.home {
  background: url(../img/Home\ Page.jpg) center/cover no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
}

.home::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.home .container {
  position: relative;
  z-index: 2;
}



/*     Start - product {2}     */

.img-cover{
width: 100%;
aspect-ratio: 1 / 1;
object-fit: cover;
}

.product-card {
    background-color: var(--plans-color);
    color: white;
    transition: transform .2s ease, 
    box-shadow .2s ease; 
}
.product-card:hover { 
    transform: translateY(-4px); 
    box-shadow: 0 .5rem 1rem 
    var(--main-color); 
  }

.cart-btn { 
    opacity: 0.95; 
}

/*     Start - Plans {4}     */
#plans{
    background-color: var(--plans-color);
}
.planbg{
  background-color: black;
  color: var(--text-color);
}
/*     End - Plans - (4)    */
/* Start - review */
#review{
  background-color: var(--plans-color);
}
/* End review*/
/*     Start - login {5}     */
.login {
  background: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 2%;
  border: 2px solid var(--main-color) !important;
  box-shadow: 0 0 10px var(--main-color) !important; /* glow */
}

#error{
background-color: var(--plans-color);
border-radius: 2%;
}

.signin{
  width: fit-content;
}