/*     Start - Home {1}     */
.home {
  background: url(../img/Home\ Page.jpg) center/cover no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
}

.home::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.home .container {
  position: relative;
  z-index: 2;
}


.btn {
    border: none;
    color: var(--main-color);
    box-shadow: none;
    transition: 0.5s ease;
}

.btn:hover{
    background-color: var(--main-color) !important;
    color: var(--text-color) !important;
    box-shadow: 0 0 1.6rem var(--main-color);
}
/*     Start - product {2}     */

.img-cover{
width: 100%;
aspect-ratio: 1 / 1;
object-fit: cover;
}

.product-card {
    transition: transform .2s ease, 
    box-shadow .2s ease; 
}
.product-card:hover { 
    transform: translateY(-4px); 
    box-shadow: 0 .5rem 1rem 
    rgba(0,0,0,.15); }

.cart-btn { 
    opacity: 0.95; 
}

/*     Start - Plans {4}     */
#plans{
    background-color: var(--plans-color);
}

/*     End - Plans - (4)    */

/*     Start - login {5}     */
.login {
  background: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 2%;
  border: 2px solid var(--main-color) !important;
  box-shadow: 0 0 10px var(--main-color) !important; /* glow */
}

#error{
background-color: var(--plans-color);
border-radius: 2%;
}