* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;
border: none;
outline: none;
scroll-behavior: smooth;
font-family: system-ui, -apple-system, sans-serif;
}

:root {
    --bg-color:#000;
    --snd-bg-color:#111;
    --text-color:#fff;
    --main-color:#b845ff;
    --plans-color: #070707;
}

html {
    font-size: 100%;
    overflow-x: hidden;
}

.btn {
    border: none;
    color: var(--main-color);
    box-shadow: none;
    transition: 0.5s ease;
}

.btn:hover{
    background-color: var(--main-color) !important;
    color: var(--text-color) !important;
    box-shadow: 0 0 1.6rem var(--main-color);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* General uses*/
span {
    color: var(--main-color);
}

/* FOOTER + NAVBAR */
.footer{
  --mix: 8%;
  background: linear-gradient(
    135deg,
    #000 0%,
    #000 calc(50% - var(--mix)),
    #67056c calc(50% + var(--mix)),
    #67056c 100%
  );
}

.navbar{
    background-color: var(--plans-color)!important;
}
.navbar a{
    color: var(--text-color);
    transition: all 0.5s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover, .navbar a:active {
    border-bottom: 3px solid var(--main-color);
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar .navbar-nav {
  align-items: center;
}

#title{
    color: var(--main-color);
}

.logo-img{
    border-radius: 15%;
}

.navbar-toggler {
  border: 0 !important;
  box-shadow: none !important;
}

select {
  cursor: pointer;
}

.iconcolor{
    color: var(--text-color);
}

input::placeholder{
  color: rgb(131, 131, 131) !important;
}