* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;
border: none;
outline: none;
scroll-behavior: smooth;
font-family: system-ui, -apple-system, sans-serif;
}

:root {
    --bg-color:#000;
    --snd-bg-color:#111;
    --text-color:#fff;
    --main-color:#b845ff;
    --plans-color: #070707;
}

html {
    font-size: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* General uses*/
span {
    color: var(--main-color);
}

/* NAVBAR */
.navbar a{
    transition: all 0.5s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover, .navbar a:active {
    border-bottom: 3px solid var(--main-color);
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar .navbar-nav {
  align-items: center;
}

#title{
    color: var(--main-color);
}

.logo-img{
    border-radius: 15%;
}

.navbar-toggler {
  border: 0 !important;
  box-shadow: none !important;
}


/*     Start - Home {1}     */
.home {
  background: url(../img/anastase-maragos-9dzWZQWZMdE-unsplash.jpg) center/cover no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
}

.home::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.home .container {
  position: relative;
  z-index: 2;
}


.btn {
    border: none;
    color: var(--main-color);
    box-shadow: none;
    transition: 0.5s ease;
}

.btn:hover{
    background-color: var(--main-color) !important;
    color: var(--text-color) !important;
    box-shadow: 0 0 1.6rem var(--main-color);
}
/*     Start - product {2}     */
.img-cover { object-fit: cover; }
.product-card { 
    transition: transform .2s ease, 
    box-shadow .2s ease; 
}
.product-card:hover { 
    transform: translateY(-4px); 
    box-shadow: 0 .5rem 1rem 
    rgba(0,0,0,.15); }

.cart-btn { 
    opacity: 0.95; 
}

/*     Start - Plans {4}     */
#plans{
    background-color: var(--plans-color);
}

/*     End - Plans - (4)    */

/*     Start - Review {5}     */
