* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;
border: none;
outline: none;
scroll-behavior: smooth;
font-family: system-ui, -apple-system, sans-serif;
}

:root {
    --bg-color:#000;
    --snd-bg-color:#111;
    --text-color:#fff;
    --main-color:#b845ff;
    --plans-color: #070707;
}

html {
    font-size: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* General uses*/
span {
    color: var(--main-color);
}

/* FOOTER + NAVBAR */
.footer{
    background-color: var(--plans-color)!important;
}
.navbar{
    background-color: var(--plans-color)!important;
}
.navbar a{
    transition: all 0.5s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover, .navbar a:active {
    border-bottom: 3px solid var(--main-color);
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar .navbar-nav {
  align-items: center;
}

#title{
    color: var(--main-color);
}

.logo-img{
    border-radius: 15%;
}

.navbar-toggler {
  border: 0 !important;
  box-shadow: none !important;
}

