:root {
    --bg-color:#000;
    --snd-bg-color:#111;
    --text-color:#fff;
    --main-color:#b845ff;
    --plans-color: #070707;
}

html {
    font-size: 100%;
    overflow-x: hidden;
}

.btn {
    border: none;
    color: var(--text-color);
    box-shadow: none;
    transition: 0.5s ease;
}

.btn:hover {
    background-color: var(--main-color) !important;
    border-radius: 15px;
    transition: 12 ease all;
    color: var(--text-color) !important;
    box-shadow: 0 0 1.6rem var(--main-color);
    cursor: pointer;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

span {
    color: var(--main-color);
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(/img/—Pngtree—single\ dumbbell\ isolated\ on\ dark_19186486.jpg);
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

.product-item.pop {
    animation: popIn 0.45s ease-out;
}

@keyframes popIn {
    0% { transform: scale(0.85); }
    50% { transform: scale(1.03); }
    100% { transform: scale(1); }
}

.cart-item-img {
    width: 100%;
    height: 120px;
    object-fit: contain;
}

.cart-item-card {
    background-color: var(--snd-bg-color);
    border: 1px solid #222;
    color: var(--text-color);
}

.cardbg{
    background-color: var(--plans-color);
    color: white;
    transition: transform .2s ease, 
    box-shadow .2s ease; 
}

.cardbg:hover{
    transform: translateY(-4px); 
    box-shadow: 0 .5rem 1rem var(--main-color) !important; 
    
}

.cart-item-col {
  display: flex;
}

.cart-item-card {
  flex: 1 1 auto;
}

.cart-item-img {
  height: fit-content;
  width: 100%;
  object-fit: cover;
  border-radius: 0; 
  
}

.btnbg{
    background-color: var(--main-color);
}

.slide{
    margin-bottom: 70px;
}

.top_product{
    position: relative;
    margin-bottom: 1px;
    border-bottom: 4px solid var(--main-color);
}

.top_product h2 {
    position: relative;
    text-transform: uppercase;
    background-color: var(--main-color);
    color: var(--text-color);
    font-size: 18px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
}
.top_product h2::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    z-index: 9;
    border-left: 20px solid transparent;
    background: var(--snd-bg-color);
    left: 0;
    border-bottom: 20px solid #6b02e2;
}

.top_product h2 i {
    color: var(--text-color);
}


