:root {
--bg-color:#000;
--snd-bg-color:#111;
--text-color:#fff;
--main-color:#b845ff;
--plans-color: #070707;
}

/*     Banner    */

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(/img/b2.jpg);   
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: var(--text-color);
    font-size: 40px;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: var(--text-color);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

/*     Newsletter    */

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(/img/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4 {
    font-size: 30px;
    color: var(--text-color);
}

#newsletter p{
    font-size: 22px;
    color: #91979d;
}



