<footer class="py-4 bg-dark text-center footer">
  <div class="container">
    <div class="d-flex gap-3 justify-content-center fs-4 mb-2">
      <a href="#"><i class="bi bi-instagram iconcolor"></i></a>
      <a href="#"><i class="bi bi-twitter-x iconcolor"></i></a>
      <a href="#"><i class="bi bi-discord iconcolor"></i></a>
      <a href="#"><i class="bi bi-whatsapp iconcolor"></i></a>
    </div>

    <section id="newsletter" class="text-center text-white">
      <div class="container text-center">
        <div class="mb-4">
          <h4 class="fw-bold">Sign Up For Newsletters</h4>
          <p class="fw-bold">
            Get E-mail updates about our latest shop and
            <span class="text-warning">special offers</span>
          </p>
        </div>

        <form class="row justify-content-center g-2">
          <div class="col-12 col-md-6">
            <input type="email" class="form-control" placeholder="Your email address">
          </div>
          <div class="col-12 col-md-auto">
            <button type="submit" class="btn btn-warning text-dark fw-semibold w-100">
              Sign Up
            </button>
          </div>
        </form>
      </div>
    </section>

    <p class="text-white-50 mt-4 mb-0">&copy; Athletica GYM 2025 - All Rights Reserved</p>
  </div>
</footer>
