<nav class="navbar navbar-expand-md fixed-top bg-dark" id="full-navbar" data-bs-theme="dark">
  <div class="container-fluid">
    <a href="/Templates/index.html" class="navbar-brand">
      <img class="d-inline-block logo-img" src="/img/LOGO.webp" height="30" width="30" alt="">
      <span id="title">Athletica</span> Gym</a>

      <button id="navToggle" class="navbar-toggler border-0 shadow-none" type="button"
      data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav mx-auto text-center align-items-center gap-2 py-2 py-lg-0">
        <li class="nav-item"><a href="/Templates/index.html" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/Templates/products.html" class="nav-link">Products</a></li>
        <li class="nav-item"><a href="/Templates/facilities.html" class="nav-link">Facilities</a></li>
        <li class="nav-item"><a href="/Templates/Nutrition.html" class="nav-link">Nutrition</a></li>
        <li class="nav-item"><a href="/Templates/makingof.html" class="nav-link">Making of</a></li>
        <li class="nav-item"><a href="/Templates/story.html" class="nav-link">Our Story</a></li>
      </ul>
    </div>
  </div>
</nav>
