* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;
border: none;
outline: none;
scroll-behavior: smooth;
font-family: system-ui, -apple-system, sans-serif;
}

:root {
    --bg-color:#000;
    --snd-bg-color:#111;
    --text-color:#fff;
    --main-color:#b845ff;
}

html {
    font-size: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 8% 2rem;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
}

a {
    text-decoration: none;
}


/*     Start - Home {1}     */

.home{
    background: url(img/anastase-maragos-9dzWZQWZMdE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

span {
    color: var(--main-color);
}

.navbar {
    display: flex;  
}

.navbar a{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 4rem;
    transition: all 0.5s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover, .navbar a:active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.nav-btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 1rem;
    font-size: 1.6rem;
    font-family: 600;
    transition: all 0.5s ease;
}

.nav-btn:hover {
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 18px var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    cursor: pointer;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3 {
    font-size: 5rem;
    font-weight: 700;
}

.home-content {
    font-size: 4rem;
    font-weight: 550;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-text {
    width: 45vw;
}

.home-content p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 1rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn:hover {
    color: var(--text-color);
    box-shadow: 0 0 1.6rem var(--main-color);
}

/*     End - Home - (1)     */



/*     Start - product {2}     */

.product{
    text-align: center;
}

.pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

.pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid var(--main-color);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px var(--main-color);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

.pro img {
    width: 100%;
    border-radius: 20px;
}

 .pro .des {
    text-align: start;
    padding: 10px 0;
}

.pro .span {
    color: var(--text-color);
    font-size: 12px;
}

.pro h5 {
    padding-top: 7px;
    color: var(--text-color);
    font-size: 30px;
}
.pro h4 {
    padding-top: 7px;
    font-size: 25px;
    font-weight: 700;
    color: aquamarine;
}

.stars {
    font-size: 20px;
}

.pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    font-weight: 500;
    color: aqua;
    position: relative;
    bottom: 20px;
    right: 10px;
    
}


/*     End - Services - (2)     */



/*     Start  -   {3} */


/*     End -  - (3)     */



/*     Start - Plans {4}     */

.plans {
    background: var(--snd-bg-color);
}

.plans-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.2rem;
}

.box {
    padding: 30px 30px 50px 30px;
    height: 40rem;
    background: var(--bg-color);
    border-radius: 28px;
    border:1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    transition: all 0.5s ease;
    cursor: pointer;
}

.box h3 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
}

.box h2 {
    font-size: 43px;
    font-weight: 700;
    margin-bottom: 20px;
}

.box ul li {
    list-style: square;
    font-size: 1.7rem;
    padding-bottom: 1.2rem;
}

.box a {
    display: inline-block;
    font-size: 22px;
    line-height: 1.2rem;
    font-weight: 700;
    padding: 7px 0;
    color: var(--text-color);
    border-bottom: 2px solid #5d6c83;
    transition: all 0.5s ease;
}

.box a:hover {
    color: var(--main-color);
}

.box:hover {
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.05)
}

/*     End - Plans - (4)    */

/*     Start - Review {5}     */

.review {
    background: var(--bg-color);
}

.review-box {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.review .heading {
    margin-bottom: 5rem;
}

.review-box img {
    width: 15rem;
    border-radius: 50%;
    border: 3px solid var(--main-color);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.review-item{
    min-height: 450px;
    min-height: 350px;
    background: var(--snd-bg-color);
    border: 3px solid rgba(238, 238, 238, 0.3);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: #fff;
    transition: 0.5s ease-in-out;
}

.review-item:hover {
    border: 3px solid var(--main-color);
    transform: translateY(-5px) scale(1.05);
}

.review-item h2 {
    font-size: 2.8rem;
}

.review-item p {
    font-size: 1.5rem;
    line-height: 1.3;
    text-align: center;
}

/*     End - Review - (5)    */

/*     Footer    */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background: var(--snd-bg-color);
}

.footer .social {
    text-align: center;
    padding-bottom: 20px;
    color: var(--main-color);
}

.footer .copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}
