<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/product.css">
    <title>Alpha GYM</title>
</head>

<body>
  <div id="navbar-placeholder"></div>
  <section id="banner" class="py-5 bg-dark text-center text-white">
  <div class="container">
    <h4 class="fw-semibold">Your Fitness Journey Starts Here</h4>
    <h2 class="fw-bold"> Up to <span class="text-warning">50% off</span> - Gym Supplements & Accessories
    </h2>
    <button class="btn btn-warning text-dark fw-semibold mt-3">Explore More</button>
  </div>
</section>


<section id="product" class="py-5">
  <div class="container">
      <div class="text-center mb-4">
        <h2 class="fw-bold text-white">Our <span>Products</span></h2>
        <p class="text-white">Your Gym Products <span class="text-white" id="login-text"><span class="text-warning"></span></p>
  </div>

<div class="row row-cols-2 row-cols-md-2 row-cols-lg-4 g-4 justify-content-center text-center">
  
      <div class="col">
        <div class="card product-card">
          <div class="position-relative">
          <img src="/img/Iso protein 1.jpg" class="card-img-top img-cover" alt="Iso-protein">
          <span class="badge bg-dark-subtle text-dark-emphasis position-absolute top-0 start-0 m-2"> 30 BD</span>
          <button class="btn btn-sm btn-dark position-absolute bottom-0 end-0 m-2 cart-btn" aria-label="Add to cart">
          <i class="bi bi-cart3"></i>
          </button>
        </div>

      <div class="card-body">
        <small class="d-block mb-1">Adonis</small>
          <h6 class="card-title mb-2">Iso Protein</h6>
            <div class="text-warning" aria-label="4 stars">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
          </div>
        </div>
    </div>


    <div class="col">
      <div class="card product-card">
        <div class="position-relative">
          <img src="/img/Whey Protein 2.jpg" class="card-img-top img-cover" alt="cookie Dough">
          <span class="badge bg-dark-subtle text-dark-emphasis position-absolute top-0 start-0 m-2">27 BD</span>
          <button class="btn btn-sm btn-dark position-absolute bottom-0 end-0 m-2 cart-btn" aria-label="Add to cart">
          <i class="bi bi-cart3"></i>
          </button>
        </div>

      <div class="card-body">
        <small class="d-block mb-1">Optimum Nutrition</small>
        <h6 class="card-title mb-2">Whey Protein</h6>
          <div class="text-warning" aria-label="4 stars">
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i><i class="bi bi-star"></i>
          </div>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card product-card">
        <div class="position-relative">
          <img src="/img/Cookie Dough 3.jpg" class="card-img-top img-cover" alt="Adidas Cartoon Astronaut T-Shirt">
          <span class="badge bg-dark-subtle text-dark-emphasis position-absolute top-0 start-0 m-2">24 BD</span>
          <button class="btn btn-sm btn-dark position-absolute bottom-0 end-0 m-2 cart-btn" aria-label="Add to cart">
          <i class="bi bi-cart3"></i>
          </button>

      </div>
        <div class="card-body">
          <small class="d-block mb-1">Addonis</small>
            <h6 class="card-title mb-2">Cookie Dough</h6>
            <div class="text-warning" aria-label="4 stars">
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>
          </div>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card product-card">
      <div class="position-relative">
        <img src="/img/Beef Xp 4.webp" class="card-img-top img-cover" alt="Adidas Cartoon Astronaut T-Shirt">
        <span class="badge bg-dark-subtle text-dark-emphasis position-absolute top-0 start-0 m-2">20 BD</span>
        <button class="btn btn-sm btn-dark position-absolute bottom-0 end-0 m-2 cart-btn" aria-label="Add to cart">
        <i class="bi bi-cart3"></i>
        </button>
      </div>
      <div class="card-body">
        <small class="d-block mb-1">Applied Nutrition</small>
          <h6 class="card-title mb-2">Beef Xp</h6>
          <div class="text-warning" aria-label="4 stars">
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i><i class="bi bi-star"></i>
          </div>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card product-card">
      <div class="position-relative">
        <img src="/img/Cookie Dough 5.jpg" class="card-img-top img-cover" alt="Adidas Cartoon Astronaut T-Shirt">
        <span class="badge bg-dark-subtle text-dark-emphasis position-absolute top-0 start-0 m-2">17 BD</span>
        <button class="btn btn-sm btn-dark position-absolute bottom-0 end-0 m-2 cart-btn" aria-label="Add to cart">
        <i class="bi bi-cart3"></i>
        </button>
      </div>
      <div class="card-body">
        <small class="d-block mb-1">Applied Nutrition</small>
          <h6 class="card-title mb-2">Cookie Dough</h6>
          <div class="text-warning" aria-label="4 stars">
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i><i class="bi bi-star"></i>
          </div>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card product-card">
      <div class="position-relative">
        <img src="/img/Creatine 6.jpg" class="card-img-top img-cover" alt="Adidas Cartoon Astronaut T-Shirt">
        <span class="badge bg-dark-subtle text-dark-emphasis position-absolute top-0 start-0 m-2">10 BD</span>
        <button class="btn btn-sm btn-dark position-absolute bottom-0 end-0 m-2 cart-btn" aria-label="Add to cart">
        <i class="bi bi-cart3"></i>
        </button>
      </div>
      <div class="card-body">
        <small class="d-block mb-1">Body Builder</small>
          <h6 class="card-title mb-2">Creatine</h6>
          <div class="text-warning" aria-label="4 stars">
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i><i class="bi bi-star"></i>
          </div>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card product-card">
      <div class="position-relative">
        <img src="/img/Gloves 7.jpg" class="card-img-top img-cover" alt="Adidas Cartoon Astronaut T-Shirt">
        <span class="badge bg-dark-subtle text-dark-emphasis position-absolute top-0 start-0 m-2">6 BD</span>
        <button class="btn btn-sm btn-dark position-absolute bottom-0 end-0 m-2 cart-btn" aria-label="Add to cart">
        <i class="bi bi-cart3"></i>
        </button>
      </div>
      <div class="card-body">
        <small class="d-block mb-1">Adidas</small>
          <h6 class="card-title mb-2">Gloves</h6>
          <div class="text-warning" aria-label="4 stars">
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i><i class="bi bi-star"></i>
          </div>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card product-card">
      <div class="position-relative">
        <img src="/img/Shaker 8.jpg" class="card-img-top img-cover" alt="Adidas Cartoon Astronaut T-Shirt">
        <span class="badge bg-dark-subtle text-dark-emphasis position-absolute top-0 start-0 m-2">4 BD</span>
        <button class="btn btn-sm btn-dark position-absolute bottom-0 end-0 m-2 cart-btn" aria-label="Add to cart">
        <i class="bi bi-cart3"></i>
        </button>
      </div>
      <div class="card-body">
        <small class="d-block mb-1">Applied Nutrition</small>
          <h6 class="card-title mb-2">Shaker</h6>
          <div class="text-warning" aria-label="4 stars">
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i><i class="bi bi-star"></i>
          </div>
        </div>
      </div>
      </div>   
    </div>
</div>
</section>


<script src="../js/checkProtocol.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="/js/navbar.js"></script>
<script src="/js/checker.js"></script>
</body>
</html>
